@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
  }

  :root {
    --blue: #000000;
    --dark-blue: #6d696c;
    --light-blue: #969694;
  }

  main {
    min-height: 100vh;
    background-color: var(--blue);
  }

  a {
    text-decoration: none;
    color: #fff;
  }